{%extends 'index.html'%}
{%block body_block%}
<div class="container">
    <div class="row">

        <div class="col-4"></div>
        <div class="col-4"><br>
            <div class="card" style="width: 18rem;">
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary"><strong>
                        <center>{{product.mobile_name}}</center>
                    </strong></h5>
                    <p class="card-text"><strong>Specifications:</strong>{{product.specs}}</p></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Brand:</strong>{{product.brand}}</li>
                    <li class="list-group-item"><strong>Price:</strong>{{product.price}}</li>
                </ul>

                 <a href="{%url 'items'%}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>
</div>

{%endblock%}