<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body >
<div class="container-fluid navbar">

<ul class="nav justify-content-center">
  <li class="nav-item navitem">
    <a class="nav-link active navitem" aria-current="page" href="{%url 'add'%}">Add Brand</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navitem" href="{%url 'list'%}">View/Edit Brands</a>
  </li>
  <li class="nav-item">
    <a class="nav-link navitem" href="{%url 'product'%}">Add Mobile</a>
  </li>
   <li class="nav-item">
    <a class="nav-link navitem" href="{%url 'items'%}">View/Edit Mobiles</a>
  </li>
     <li><a class="nav-link navitem" href="{%url 'home'%}">ChangePassword</a></li>
    <li><a class="nav-link logout " href="{%url 'home'%}">Logout</a></li>

</ul>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <br>
            <h3><STRONG>EDIT THE PRODUCT DETAILS</STRONG></h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <table class="table table-bordered">
                    <tr>
                        <td>{{form.as_table}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <input type="submit" Value="Sumbit" class="btn btn-primary"></td>
                    </tr>
                </table>


            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>