{%extends 'index.html'%}
{%block body_block%}

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <br>
            <h3><STRONG>EDIT THE PRODUCT DETAILS</STRONG></h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <table class="table table-bordered">
                    <tr>
                        <td>{{form.as_table}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <input type="submit" Value="Sumbit" class="btn btn-primary"></td>
                    </tr>
                </table>


            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}